#contactPage .row label {vertical-align:middle;text-align:right;width:110px;padding-right:10px;display:inline-block;}
#contactPage input, #contactPage textarea {width:260px;vertical-align:middle;}
#captchaSwitch {float:left;padding:1px 2px;}
