/**
 * Only put general and common styles in this file.
 * To apply style on a specific page, create a css file with the same name as this page.
 */

/*================================= STRUCTURE ==============================*/
 * {margin:0;padding:0;}
 *:active, *:focus, *:invalid, button, button:active, button:focus, a {outline:none !important;}
 /* ::selection {} */

 html {height:100%;position:relative;margin:0;width: 100%;}
 body
 {font:12px Verdana, Arial, Helvetica, sans-serif;
 color:#333;width: 100%;}

 header
 {margin-bottom: -3.6em;
  -webkit-transition: .5s;
 -o-transition: .5s;
 transition: .5s;
 position: relative;
 color: #fff;}
 @media screen and (max-width: 550px)
 {
 	header {margin-bottom: -3em;}
 }

 #top-zone {position: relative;}
 .main-slideshow-wrapper {
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Put a base64 encoded lightweight version of the background image supposed to show up first while loading bigger version. */
    background: no-repeat left center;
    background-size: cover;
 }
 .main-slideshow {height: 100%;}
 .main-slideshow-wrapper .slick-arrow {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -1.1em;
    font-size: 2.2em;
    color: inherit;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    opacity: .6;
    border-radius: 1em;
    border: 1px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.main-slideshow-wrapper .slick-arrow:before {
  line-height: inherit;
  height: 100%;
  display: block;
  font-size: 1.2em;
}
.main-slideshow-wrapper .slick-initialized .slick-arrow {display: block;}
.main-slideshow-wrapper .slick-arrow:hover {
    border-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
    opacity: 1;
}
 .main-slideshow-wrapper .slick-prev {left: .5em;text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.4)}
 .main-slideshow-wrapper .slick-next {right: .5em;text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.4)}
 .main-slideshow .slick-list, .main-slideshow .slick-track {height: 100%;}
 .main-slideshow .slide {position: relative;height: 100%;}
 .main-slideshow .slide + .slide {display: none;}
 .main-slideshow.slick-initialized .slide + .slide {display: block;}

 .main-slideshow .slide .bg {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
 }
 .main-slideshow > .slide:first-child .bg,/* Before slick is initialized. */
 .main-slideshow .slide[data-slick-index="0"] .bg,
 .main-slideshow .slide[data-slick-index="4"] .bg {background-position: left center;}
 .main-slideshow > .slide:first-child .bg:before,
 .main-slideshow .slide[data-slick-index="0"] .bg:before,
 .main-slideshow .slide[data-slick-index="4"] .bg:before {
    content: "•";
    display: block;
    width: 100%;
    font-size: 20em;
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
 }
 .main-slideshow .slide .bg.loaded:before {display: none;}

 .main-slideshow .slick-dots {
    position: absolute;
    bottom: 5em;
    left: 0;
    right: 0;
    display: block;
    color: inherit;
    text-align: center;
 }
 .main-slideshow .slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 2px;
    vertical-align: middle;
    cursor: pointer;
}
 .main-slideshow .slick-dots li:before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0, .4);
    box-shadow: 0 0 2px rgba(0,0,0, .4);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
 }
 .main-slideshow .slick-dots li.slick-active:before,
 .main-slideshow .slick-dots li:hover:before {
    border-color: #be4646;
    border-width: 7px;
    width: 0px;
    height: 0px;
    line-height: inherit;
    vertical-align: middle;
 }
 .main-slideshow .slick-dots li:hover:before {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    border-color: #fb5151;
 }
 .main-slideshow .slick-dots li button {display: none;}
 #bottom-zone {}
 div.logo a, a.logo
 {font-family: dinnext, Arial, Helvetica, sans-serif;
 line-height: 0.9;
 display: block;}
 div.logo a
 {text-transform: none;
 font-size: 3rem;
 width: 4em;
 color: inherit;
 position: relative;}
 /*div.logo a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
    font-size: inherit;
    color: #cf3;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
 }
 div.logo a:hover:before {
    width: 100%;
 }*/
 a.logo {font-size: 170%;}
 div.logo
 {position: fixed;
 top: 1em;
 left: 1.5em;
 opacity: 0;
 z-index: 2;
 -webkit-transition: .5s cubic-bezier(.175, .885, .32, 1);
 -webkit-transition: .5s cubic-bezier(.175, .885, .32, 1.275);
 -moz-transition: .5s cubic-bezier(.175, .885, .32, 1.275);
 -o-transition: .5s cubic-bezier(.175, .885, .32, 1.275);
 transition: .5s cubic-bezier(.175, .885, .32, 1.275);
 -webkit-transform: translateX(-5em) rotate(15deg) scale(.9);
 -ms-transform: translateX(-5em) rotate(15deg) scale(.9);
 -o-transform: translateX(-5em) rotate(15deg) scale(.9);
 transform: translateX(-5em) rotate(15deg) scale(.9);}
 .show div.logo
 {opacity: 1;
 -webkit-transform: translateX(0) rotate(0deg) scale(1);
 -ms-transform: translateX(0) rotate(0deg) scale(1);
 -o-transform: translateX(0) rotate(0deg) scale(1);
 transform: translateX(0) rotate(0deg) scale(1);}
 div.logo img {width:280px;}
 @media screen and (max-width: 550px)
 {
    div.logo img {width:200px;}
 }
 header .go-down
 {position: fixed;
 bottom: 9em;
color: inherit;
font-family: dinnext, Arial, Helvetica, sans-serif;
opacity: .8;
text-transform: uppercase;
left: 50%;
width: 5em;
text-align: center;
line-height: 1;
margin-left: -2.5em;
 display: block;
 text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;
 -webkit-animation:bounceFromBottom 1.6s alternate infinite;
 -moz-animation:bounceFromBottom 1.6s alternate infinite;
 -o-animation:bounceFromBottom 1.6s alternate infinite;
 animation:bounceFromBottom 1.6s alternate infinite;}
 .fr header .go-down {width: 4.2em;margin-left: -2.1em;}
 .fr header .go-down:before {margin-top: 1.5em;}
 header .go-down:hover {opacity: .9;color: #fff;animation: none;}
 header .go-down:before {
    content:"v";
    font-size: 150%;
    width: 2em;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-top: .5em;
    margin-left: -1em;
}

 #page
 {-webkit-box-shadow: 0 0 120px rgba(0,0,0,.9);
 box-shadow: 0 0 120px rgba(0,0,0,.9);
 z-index: 20;
 position: relative;
 overflow-x: hidden;
 padding: 100px 50px 50px;
 background: #fff no-repeat right bottom;
 -webkit-transition: .1s;
 -o-transition: .1s;
 transition: .1s;}
 @media screen and (max-width: 550px) {
    #page {padding-left: 10px;padding-right: 10px;}
 }
 #page > .inner {position:relative;}
 #page > .inner #top {position: absolute;top: -6em;}

 #content-wrapper {min-height:150px;}
 #content-wrapper > .loading
 {width:100%;
 height:100%;
 background:rgba(255,255,255,.8);
 z-index:10;
 position:absolute;
 top:0;
 left:0;
 display:block;
 display:none;}

 .content ul {margin:10px 0 10px 20px;}
 ul.glyph li,
 ul.checklist li,
 ul.icons li {list-style-type:none;position: relative;padding-left: 10px;}
 ul.glyph li:before,
 ul.checklist li:before {
    content:'> ';
    position: absolute;
    top: .3em;
    left: -1em;
    line-height: inherit;
}
ul.glyph li.parent:before {content:'v ';}
ul.checklist li:before {content:'y ';}

 h1#title {margin-bottom:45px;font-size: 40px;}
 h1#title:before {
    font-size:85%;
    margin-right:15px;
    margin-bottom: 8px;
    display: inline-block;
 }

 .floatLeft {float:left;}
 .floatRight {float:right;}
 .clear {clear:both;}
 .clearfix:before, .clearfix:after {content: '';position:absolute;clear:both;}
 br.clear {display:block;height:0;}

 a
 {text-decoration:none;
 color:#666;
 -webkit-transition:color .3s ease-out;
 -moz-transition:color .3s ease-out;
 -o-transition:color .3s ease-out;
 transition:color .3s ease-out;}
 a:hover {color:#333;}
 a img {border:none;}

 td {vertical-align: top;}
 h1, h2, h3 {font-family: dinnext, Arial, Helvetica, sans-serif;}
 h1 {text-transform: uppercase;}
 h2 {font-size:160%;margin:25px 0 10px;font-weight:normal;}
 h3 {font-size:130%;margin:15px 0 7px;font-weight:normal;}

 header.parallax.stop .bg
 {-webkit-transform: none !important;
 -ms-transform: none !important;
 -o-transform: none !important;
 transform: none !important;}


 /* Fix bg jump on mobile. See: http://stackoverflow.com/a/30742576/2012407. */
@media (max-device-aspect-ratio: 3/4) {
  height: calc(100vw * 1.333 - 9%);
}
@media (max-device-aspect-ratio: 2/3) {
  height: calc(100vw * 1.5 - 9%);
}
@media (max-device-aspect-ratio: 10/16) {
  height: calc(100vw * 1.6 - 9%);
}
@media (max-device-aspect-ratio: 9/16) {
  height: calc(100vw * 1.778 - 9%);
}
/*============================== end of STRUCTURE ==========================*/

/*================================ STICKY BAR ==============================*/
 #sticky-bar
 {position: absolute;
 display: table;
 top: 0;
 left: 0;
 width: 100%;
 background-color: rgba(255,255,255,.95);
 z-index: 30;
 min-height: 38px;
 /* Prevent a jump on IOS by forcing rendering when passing the sticky bar threshold while keeping the finger on screen.*/
 -webkit-transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 -o-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);}

 #sticky-bar.sticky
 {position:fixed;
 -webkit-box-shadow: 0 0 15px rgba(0,0,0,.2);
 box-shadow: 0 0 15px rgba(0,0,0,.2);}
 #sticky-bar > * {display: table-cell;vertical-align: middle;}

 #sticky-bar .logo
 {position: relative;
 width: 10px;
 vertical-align: top;
 -webkit-transition: .2s .2s;
 transition: .2s .2s;}
 #sticky-bar.sticky .logo
 {width: 190px;
 padding: 0 3%;
 line-height: 1.8;
 -webkit-transition: .2s 0s;
 transition: .2s 0s;}
 #sticky-bar .logo img
 {width: 100%;
 opacity: 0;
 -webkit-transition: .3s 0s;
 transition: .3s 0s;
 -webkit-transform: scale(.85);
 -ms-transform: scale(.85);
 -o-transform: scale(.85);
 transform: scale(.85);
 margin-bottom: -2.25em;}
 #sticky-bar.sticky .logo img
 {opacity: 1;
 -webkit-transition: .3s .2s;
 transition: .3s .2s;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1);}

 .lang-selector {text-align: right;position: absolute;top: 10px;right: 5px;margin-top: -1.2em;}
 #sticky-bar .lang-selector {top: 50%;}
 .lang-selector button
 {position: relative;
 display:inline-block;
 border:2px solid #ccc;
 background: none;
 padding: 0;
 color: #ccc;
 border-radius: 2em;
 width: 2.4em;
 line-height: 2.4em;
 height: 2.4em;
 font: 90% 'Arial Black', 'Arial-BoldMT', Gadget, sans-serif;
 text-transform: uppercase;
 text-align: center;
 cursor:pointer;
 -webkit-transition: .3s;
 -o-transition: .3s;
 transition: .3s;}
 .lang-selector .active, .lang-selector button:hover {border-color: #be4646;color: #be4646;background: none;}
 .lang-selector button:hover ~ button,
 .lang-selector button.blur {border-color: #ccc;color: #ccc;}

 @media screen and (max-width: 800px)
 {
    #sticky-bar {font-size: 90%;}
 }
 @media screen and (max-width: 550px)
 {
    #sticky-bar {font-size: 80%;}
    #sticky-bar.sticky a.logo {width: 140px;padding-right: .5em;padding-left: 5px;}
    #sticky-bar.sticky a.logo img {width: 102%;}
    #sticky-bar .lang-selector {display: none;}
 }
/*============================= end of STICKY BAR ==========================*/

/*================================ BREADCRUMBS =============================*/
 #breadcrumbs
 {border-bottom: 1px dotted #999;
 font-family: dinnext, Arial, Helvetica, sans-serif;
 font-size: 1.3em;
 padding-right: 5.8em;/* Space for language selector on the right. */}
 #breadcrumbs .sitemap, #breadcrumbs .home {position: relative;}
 #breadcrumbs .sitemap:before {content: '|';font-size: 1em;}
 #breadcrumbs .home:before {content: 'H';font-size: 1.1em;}

 #breadcrumbs * {line-height: 1;}
 .sticky #breadcrumbs {border-bottom-color: transparent;}
 .sticky #breadcrumbs .current {font-size: 120%;}
 .sticky #breadcrumbs .home span, .sticky #breadcrumbs .sitemap span {top: 2.4em;}

 .tooltip.sticky,
 #breadcrumbs .home span, #breadcrumbs .sitemap span
 {display:none;
 position:absolute;
 top:180%;
 left:50%;
 width:5em;
 line-height: 1em;
 text-align:center;
 color:#777;
 margin-left:-2.5em;
 padding:3px 0;
 background:#fff;
 border:1px solid #ddd;
 border-radius:3px;
 font-size:.85rem;
 z-index: 1;}
 #breadcrumbs .home span {width:6em;margin-left:-3em;}
 .fr #breadcrumbs .sitemap span {width:8em;margin-left:-4em;}
 #breadcrumbs .home:hover span, #breadcrumbs .sitemap:hover span {display:block;}
 #breadcrumbs .sitemap span:before, #breadcrumbs .home span:before
 {content:"";
 position:absolute;
 width:0;
 z-index:0;
 border:.5em solid transparent;
 border-bottom-color:#ddd;
 bottom:100%;
 left:50%;
 margin-left:-.5em;}
 #breadcrumbs .sitemap span:after, #breadcrumbs .home span:after
 {content:"";
 position:absolute;
 width:0;
 z-index:1;
 border:.4em solid transparent;
 border-bottom-color:#fff;
 bottom:100%;
 left:50%;
 margin-left:-.4em;}

 #breadcrumbs .separator {color:#999;font-size:1em;padding-left:3px;}
 @media screen and (max-width: 550px)
 {
    #breadcrumbs {padding-right: 3.5em;}/* Space for hamburger menu on the right. */
    .sticky #breadcrumbs {font-size: 1.3em;}/* Space for hamburger menu on the right. */
    #breadcrumbs .current {font-size: 1.1em;display: inline-block;height: 1.1em;}
    .sticky #breadcrumbs .current {display: inline;}
 }
/*============================ end of BREADCRUMBS ==========================*/

/*================================== MENU ==================================*/
 /*.main-menu {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 3.5em;
    padding-left: 190px;
 }
 .main-menu ul {list-style-type:none;}
 .main-menu ul li {display: inline-block;position: relative;margin: 0 2%;}
 .main-menu ul li:last-child {margin-right: 0;}
 .main-menu a
 {color: inherit;
 display:block;
 font:180% dinnext, Arial, Helvetica, sans-serif;
 position:relative;
 white-space:nowrap;
 text-align: center;
 -webkit-transition:.5s ease-out;
 -moz-transition:.5s ease-out;
 -o-transition:.5s ease-out;
 transition:.5s ease-out;}
 .main-menu a:before {
    display: none;
    font-size: 1.6em;
    padding-bottom: 10px;
    text-shadow: 0 0 5px #000, 0 0 50px #000;
 }
 .main-menu a:after {
    content: "";
    border-bottom: 1px solid #fff;
    display: block;
    margin: auto;
    width: 0%;
    -webkit-transition:.5s ease-out;
    -moz-transition:.5s ease-out;
    -o-transition:.5s ease-out;
    transition:.5s ease-out;
 }
 .main-menu a:hover:after,
 .main-menu a.active:after {
    width: 100%;
 }
 .main-menu a:hover, .main-menu a:active {
     color: #be4646;
 }
 .main-menu ul ul {
    z-index: -100;
    font-size: .7em;
    position: absolute;
    top: 100%;
    margin-top: 15px;
    left: 50%;
    border: 1px solid rgba(255,255,255,.6);
    background: rgba(255,255,255,.2);
    padding: 1.5em;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-20px);
    -ms-transform: translateX(-50%) translateY(-20px);
    -o-transform: translateX(-50%) translateY(-20px);
    transform: translateX(-50%) translateY(-20px);
    -webkit-transition: all .5s 0s ease-in-out, z-index 0s .5s;
    -o-transition: all .5s 0s ease-in-out, z-index 0s .5s;
    transition: all .5s 0s ease-in-out, z-index 0s .5s;
 }
 .main-menu ul li:hover ul {
    z-index: 30;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0px);
    -ms-transform: translateX(-50%) translateY(0px);
    -o-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
    -webkit-transition: all .5s 0s ease-in-out, z-index 0s 0s;
    -o-transition: all .5s 0s ease-in-out, z-index 0s 0s;
    transition: all .5s 0s ease-in-out, z-index 0s 0s;
 }

 .main-menu ul ul:before,
 .main-menu ul ul:after {
    content: "";
    position: absolute;
 }
 .main-menu ul ul:before {
    width: 100%;
    height: 100%;
    top: -16px;
    left: 0;
 }
 .main-menu ul ul:after {
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    border: 8px solid transparent;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom-color: rgba(255,255,255,.6);
 }
 .main-menu ul ul li {display: block;margin:5px 10px;}
 .main-menu ul ul a {font-style: italic;display: inline-block;}

 .main-menu ul ul ul {display: none;}

 @media screen and (max-width: 729px) {
    .main-menu {
        padding-top: 2.5em;
    }
    .main-menu ul li {
        margin-left: 2.6%;
        margin-right: 2.6%;
    }
    .main-menu a:before {
       display: block;
    }
    .main-menu a span {
        font-size: 0.8em;
        transform: translateX(-50%);
        color: rgba(255,255,255,.6);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .main-menu a:hover span {
        color: #fb5151;
    }
 }
 @media screen and (max-width: 679px) {
    .main-menu {
        padding: 14em 0 0;
    }
    .main-menu ul li {
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
    \/* Make sure submenu of first menu is fully visible. *\/
    .main-menu ul li:first-child ul {
        left: -50%;
        text-align: left;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    .main-menu ul li:first-child:hover ul {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    .main-menu ul li:first-child ul:after {left: 20%;}
 }
 @media screen and (max-width: 609px) {
    .main-menu ul li {
        margin-left: 2.9%;
        margin-right: 2.9%;
    }
 }
 @media screen and (max-width: 519px) {
    .main-menu {
        padding-top: 9em;
    }
    .main-menu ul li {
        margin: 5% 8% 0%;
    }
    .main-menu ul ul {
        color: #666;
        text-shadow: none;
        background-color: rgba(255,255,255,.9);
        border: 1px solid rgba(0,0,0,.3);
    }
    .main-menu ul ul:after {
        border-bottom-color: rgba(255,255,255,.9);
        margin-bottom: 0px;
    }
    .main-menu ul ul li a:after {border-color: #666;}
    .main-menu ul ul a:hover {
        color: #000;
    }
    .main-menu a span {
        font-size: 0.7em;
    }
    .main-slideshow .slick-dots {bottom: 4em;}
 }
 @media screen and (max-width: 439px) {
    .main-menu ul li {
        margin-left: 6.3%;
        margin-right: 6.3%;
    }
 }*/
/*============================== end of MENU ===============================*/

/*============================== MOBILE MENU ===============================*/
 #mobile-menu-open {z-index: -100;position: fixed;left: -3em;}/* The checkbox. */
 .hamburger
 {cursor: pointer;
 transition-property: opacity;
 transition-duration: 0.15s;
 transition-timing-function: linear;
 color: inherit;
 width: 2.4em;
 height: 2em;
 font-size: 12px;/* Fix the font size so it's not controlled by the font-size buttons. */
 position: fixed;
 top: 0px;
 right: 5px;
 float: right;
 margin: 7px 0;
 z-index: 40;
 display: none;}

 @media screen and (max-width: 550px)
 {
    .hamburger {display: block;}
 }
 .hamburger:hover {opacity: 0.7;}

 label.hamburger > span
 {display: block;
 top: 50%;
 margin-top: -.15em;
 transition-duration: 0.3s;
 transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}
 .hamburger > span, .hamburger > span::before, .hamburger > span::after
 {width: 100%;
 height: .3em;
  background-color: #fff;
 border-radius: 4px;
 position: absolute;
 transition-property: -webkit-transform;
 transition-property: transform;
 transition-property: transform, -webkit-transform;
 transition-duration: 0.15s;
 transition-timing-function: ease;}
 #mobile-menu-open.checked + .hamburger > span,
 #mobile-menu-open.checked + .hamburger > span:before,
 #mobile-menu-open.checked + .hamburger > span:after
 {background-color: #999;}
 body.sticky-bar .hamburger > span,
 body.sticky-bar .hamburger > span:before,
 body.sticky-bar .hamburger > span:after
 {background-color: #999;}
 .hamburger > span::before, .hamburger > span::after {content: "";display: block;}
 .hamburger > span::before {top: -250%;}
 .hamburger > span::after {bottom: -250%;}

 .hamburger > span::before {transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;}
 .hamburger > span::after
 {transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
 transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
 transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

 #mobile-menu
 {position: fixed;
 overflow: auto;
 width: 280px;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 30;
 padding: 10px 0 0;
 box-shadow: 0px 0px 0px transparent;
 background: #fff;
 font-size: 12px;/* Fix the font size so it's not controlled by the font-size buttons. */
 -webkit-transition: transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;
 -webkit-transform: translateX(320px);
 -ms-transform: translateX(320px);
 -o-transform: translateX(320px);
 transform: translateX(320px);}
 #mobile-menu-open:checked ~ #mobile-menu
 {-webkit-transform: translateX(0px);
 -ms-transform: translateX(0px);
 -o-transform: translateX(0px);
 transform: translateX(0px);
 box-shadow: -20px 2px 80px rgba(0,0,0,.45), 0px 0px 1px rgba(0,0,0,.7);}
 #mobile-menu-open:checked ~ #all:before
 {content:"";
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 30;
 background-color: rgba(0,0,0,.4);}
 #mobile-menu-open:checked ~ .hamburger > span
 {-webkit-transform: rotate(225deg);
 transform: rotate(225deg);
 transition-delay: 0.14s;
 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
 #mobile-menu-open:checked ~ .hamburger > span::before
 {top: 0;
 opacity: 0;
 transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;}
 #mobile-menu-open:checked ~ .hamburger > span::after
 {bottom: 0;
 -webkit-transform: rotate(-90deg);
 transform: rotate(-90deg);
 transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
 transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
 transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

 #mobile-menu .lang-selector
 {opacity: 0;
 filter: alpha(opacity=0);
 -webkit-transition: .7s .7s;
 -o-transition: .7s .7s;
 transition: .7s .7s;
 --webkit-transform: translateY(-3em);
 -ms-transform: translateY(-3em);
 -o-transform: translateY(-3em);
 transform: translateY(-3em);
 float: right;
 margin: -5px 40px 0 0;}
 #mobile-menu-open:checked ~ #mobile-menu .lang-selector
 {opacity: 1;
 filter: alpha(opacity=100);
 --webkit-transform: translateY(0px);
 -ms-transform: translateY(0px);
 -o-transform: translateY(0px);
 transform: translateY(0px);}

 #mobile-menu .sitemap {margin-top: 30px;}
 #mobile-menu h3 {padding: 10px 0 5px 10px;}
 #mobile-menu li {padding: 0;}
 #mobile-menu li a, #mobile-menu li h4
 {padding: 10px 10px;
 border-top:1px solid #ddd;
 background: #e8e8e8;
 display: block;
 cursor: pointer;
 -webkit-transition: transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;}
 #mobile-menu li.parent > ul > li:first-child > a {border-color: #ccc;}
 #mobile-menu li a:hover, #mobile-menu li h4:hover {background: #be4646;color: #fff;}
 #mobile-menu .glyph li h4:before,
 #mobile-menu .glyph li a:before,
 #mobile-menu .icons li h4:before,
 #mobile-menu .icons li a:before {padding-right: 5px;}
 #mobile-menu .glyph li h4:before,
 #mobile-menu .glyph li a:before,
 #mobile-menu .glyph li li a:before {content: ">";}
 #mobile-menu .glyph li.parent:hover > h4:before,
 #mobile-menu .glyph li.parent:hover > a:before,
 #mobile-menu .glyph li.parent.open > h4:before,
 #mobile-menu .glyph li.parent.open > a:before {content: "v";}


 #mobile-menu li li a {
    padding: 7px 0 7px 25px;
    font-size: .9em;
    background: #d6d6d6;
    border-color: #ccc;
 }
 #mobile-menu li li a:before {content: ">";padding-right: 5px;}
 #mobile-menu li li a:hover {
    background: #e24848;
 }
 #mobile-menu li li a:before {
    font-size: .9em;
    padding-right: 15px;
 }
/*=========================== end of MOBILE MENU ===========================*/

/*=============================== FORM ELEMENTS ============================*/
/*=========================== end of FORM ELEMENTS =========================*/

/*================================== SPINNER ===============================*/
 #spinner
 {position:fixed;
 top:0;
 left:0;
 width:100%;
 height:100%;
 z-index:10;}
 .nojs #spinner {display:none;}
 .animation #spinner
 {background:transparent;/* Fallback useful for Microsoft.gradient */
 background:rgba(0,0,0,.75);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";/* IE8 */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);/* IE6 & 7 */}
 .animation #spinner:after
 {content:"";
 z-index:-1;
 position:absolute;
 top:0;right:0;bottom:0;left:0;
 background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
 background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
 background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
 background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));}

 #spinner .bokeh
 {font-size:100px;
 width:1em;
 height:1em;
 top:50%;
 position:relative;
 margin:-.5em auto 0;
 -webkit-border-radius:50%;
 border-radius:50%;
 border:.01em solid rgba(150,150,150,0.2);
 display:none;}
 .animation #spinner .bokeh {display:block;}

 #spinner .bokeh span {position:absolute;display:block;width:.2em;height:.2em;-webkit-border-radius:50%;border-radius:50%;}
 #spinner .bokeh span:nth-child(1)
 {left:50%;
 top:0;
 margin:0 0 0 -.1em;
 background:#833;
 -webkit-transform-origin: 50% 250%;
 -moz-transform-origin: 50% 250%;
 -ms-transform-origin: 50% 250%;
 -o-transform-origin: 50% 250%;
 transform-origin: 50% 250%;
 -webkit-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
 -moz-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
 -ms-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
 -o-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
 animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;}
 #spinner .bokeh span:nth-child(2)
 {top:50%;
 right:0;
 margin:-.1em 0 0 0;
 background:#D24E4E;
 -webkit-transform-origin: -150% 50%;
 -moz-transform-origin: -150% 50%;
 -ms-transform-origin: -150% 50%;
 -o-transform-origin: -150% 50%;
 transform-origin: -150% 50%;
 -webkit-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
 -moz-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
 -ms-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
 -o-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
 animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;}
 #spinner .bokeh span:nth-child(3)
 {left:50%;
 bottom:0;
 margin:0 0 0 -.1em;
 background:#838383;
 -webkit-transform-origin: 50% -150%;
 -moz-transform-origin: 50% -150%;
 -ms-transform-origin: 50% -150%;
 -o-transform-origin: 50% -150%;
 transform-origin: 50% -150%;
 -webkit-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
 -moz-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
 -ms-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
 -o-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
 animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;}
 #spinner .bokeh span:nth-child(4)
 {top:50%;
 left:0;
 margin:-.1em 0 0 0;
 background:#fff;
 -webkit-transform-origin: 250% 50%;
 -moz-transform-origin: 250% 50%;
 -ms-transform-origin: 250% 50%;
 -o-transform-origin: 250% 50%;
 transform-origin: 250% 50%;
 -webkit-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
 -moz-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
 -ms-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
 -o-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
 animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;}

 @-webkit-keyframes rota {to {-webkit-transform:rotate(360deg);}}
 @-moz-keyframes rota {to {-moz-transform:rotate(360deg);}}
 @-ms-keyframes rota {to {-ms-transform:rotate(360deg);}}
 @-o-keyframes rota {to {-o-transform:rotate(360deg);}}
 @keyframes rota {to {transform:rotate(360deg);}}

 @-webkit-keyframes opa
 {12.0% {opacity:0.80;}
 19.5% {opacity:0.88;}
 37.2% {opacity:0.64;}
 40.5% {opacity:0.52;}
 52.7% {opacity:0.69;}
 60.2% {opacity:0.60;}
 66.6% {opacity:0.52;}
 70.0% {opacity:0.63;}
 79.9% {opacity:0.60;}
 84.2% {opacity:0.75;}
 91.0% {opacity:0.87;}}
 @-moz-keyframes opa
 {12.0% {opacity:0.80;}
 19.5% {opacity:0.88;}
 37.2% {opacity:0.64;}
 40.5% {opacity:0.52;}
 52.7% {opacity:0.69;}
 60.2% {opacity:0.60;}
 66.6% {opacity:0.52;}
 70.0% {opacity:0.63;}
 79.9% {opacity:0.60;}
 84.2% {opacity:0.75;}
 91.0% {opacity:0.87;}}
 @-ms-keyframes opa/*support:ie9+, so no need of filter:alpha();*/
 {12.0% {opacity:0.80;}
 19.5% {opacity:0.88;}
 37.2% {opacity:0.64;}
 40.5% {opacity:0.52;}
 52.7% {opacity:0.69;}
 60.2% {opacity:0.60;}
 66.6% {opacity:0.52;}
 70.0% {opacity:0.63;}
 79.9% {opacity:0.60;}
 84.2% {opacity:0.75;}
 91.0% {opacity:0.87;}}
 @-o-keyframes opa
 {12.0% {opacity:0.80;}
 19.5% {opacity:0.88;}
 37.2% {opacity:0.64;}
 40.5% {opacity:0.52;}
 52.7% {opacity:0.69;}
 60.2% {opacity:0.60;}
 66.6% {opacity:0.52;}
 70.0% {opacity:0.63;}
 79.9% {opacity:0.60;}
 84.2% {opacity:0.75;}
 91.0% {opacity:0.87;}}
 @keyframes opa
 {12.0% {opacity:0.80;}
 19.5% {opacity:0.88;}
 37.2% {opacity:0.64;}
 40.5% {opacity:0.52;}
 52.7% {opacity:0.69;}
 60.2% {opacity:0.60;}
 66.6% {opacity:0.52;}
 70.0% {opacity:0.63;}
 79.9% {opacity:0.60;}
 84.2% {opacity:0.75;}
 91.0% {opacity:0.87;}}

 .spinner-s
 {width: 40px;
 height: 40px;
 display: inline-block;
 background-color: #f50;
 border-radius: 100%;
 -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
 animation: sk-scaleout 1.0s infinite ease-in-out;}

 @-webkit-keyframes sk-scaleout
 {
   0% {-webkit-transform:scale(0)}
   100% {-webkit-transform:scale(1);opacity:0;}
 }
 @keyframes sk-scaleout
 {
   0% {-webkit-transform:scale(0);transform:scale(0);}
   100% {-webkit-transform:scale(1);transform:scale(1);opacity:0;}
 }
/*=============================== end of SPINNER ===========================*/

/*================================== SLIDESHOW =============================*/
 .slideshowWrapper
 {padding:8px;
 margin:15px 3px;
 -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
 box-shadow: 0 0 8px rgba(0,0,0,.1);
 display: inline-block;
 position: relative;}
 .slideshow
 {position: relative;
 overflow: hidden;}
 .slideshowWrapper .caption {margin-top: 0;text-align: left;padding: 8px 2px 4px;}
 .slideshow figure figcaption
 {position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 8px;
 background-color: rgba(255,255,255,.8);
 z-index: 3;}
 .slideshowWrapper .slideshow img {width: 100%;}
 .slideshowWrapper .slideshow figure
 {border:none;
 top: 0;
 left: 0;
 padding: 0;
 margin: 0;
 z-index: 0;
 width: 100%;
 height: 100%;
 max-width: none;
 position: absolute;
 box-shadow: none;}
 .slideshowWrapper .slideshow figure:first-child {z-index: 2;}
 .slideshowWrapper .slideshow figure:first-child + figure {z-index: 1;}
 .slideshow figure .likes {display: none;}
 .slideshowWrapper .likes {z-index: 3;top: 8px;left: 8px;}
/*============================== end of SLIDESHOW ==========================*/

/*================================== LIGHTBOX ==============================*/
 body > .overlay
 {display:none;
 width:100%;
 height:100%;
 top:0;
 left:0;
 position:fixed;
 background:transparent;/* Fallback useful for Microsoft.gradient */
 background:rgba(0,0,0,.7);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)";/* IE8 */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);/* IE6 & 7 */
 z-index:11;}

 #lightbox
 {width:100%;
 height:100%;
 z-index:-1;
 position:absolute;
 display: table;
 opacity:0;
 filter:alpha(opacity=0);
 -webkit-transition:z-index 0s 1s, opacity 1s ease, -webkit-backface-visibility 0;
 -moz-transition:z-index 0s 1s, opacity 1s ease;
 -o-transition:z-index 0s 1s, opacity 1s ease;
 transition:z-index 0s 1s, opacity 1s ease, backface-visibility 0 1s;}
 #lightbox.show
 {z-index:100;
 opacity:1;
 filter:alpha(opacity=100);
 -webkit-backface-visibility:initial;
 backface-visibility:initial;
 -webkit-transition:z-index 0s, opacity 1s ease, -webkit-backface-visibility 0s 1s;
 -moz-transition:z-index 0s, opacity 1s ease;
 -o-transition:z-index 0s, opacity 1s ease;
 transition:z-index 0s, opacity 1s ease, backface-visibility 0s 1s;}
 #lightbox.hide {display:none;}
 #lightbox .overlay
 {width:100%;
 height:100%;
 background:transparent;/* Fallback useful for Microsoft.gradient */
 background:rgba(0,0,0,.7);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)";/* IE8 */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);/* IE6 & 7 */
 position:fixed;
 z-index:-1;}
 #lightbox > .wrapper
 {display: table-cell;
 vertical-align: middle;
 max-width: 90%;
 margin: auto;
 /* margin-left:50%;
 position:fixed;
 height:100%;
 */ -webkit-perspective:1000px;
 -moz-perspective:1000px;
 -ms-perspective:1000px;
 perspective:1000px;
 -webkit-perspective-origin:0% 0%;
 -moz-perspective-origin:0% 0%;
 -ms-perspective-origin:0% 0%;
 perspective-origin:0% 0%;}
 #lightbox > .wrapper > .inner
 {/*float:right;
 margin:10% 50% 10% 0;
 height:100%;
 */position:relative;
 -webkit-transform:translateY(30px) rotateX(95deg) scale(.7);
 -moz-transform:translateY(30px) rotateX(95deg) scale(.7);
 -ms-transform:translateY(30px) rotateX(95deg) scale(.7);
 -o-transform:translateY(30px) rotateX(95deg) scale(.7);
 transform:translateY(30px) rotateX(95deg) scale(.7);
 -webkit-transition:.7s ease-in-out;
 -moz-transition:.7s ease-in-out;
 -ms-transition:.7s ease-in-out;
 -o-transition:.7s ease-in-out;
 transition:.7s ease-in-out;}
 #lightbox.show > .wrapper > .inner
 {-webkit-transform:rotate(0);
 -moz-transform:rotate(0);
 -ms-transform:rotate(0);
 -o-transform:rotate(0);
 transform:rotate(0);}
 #lightbox > .wrapper > .inner > .content
 {height:auto;
 background:#000 url(../images/texture-bg.png);
 border:1px solid #333;
 overflow:hidden;
 position:relative;}
 #lightbox .close {position:absolute;top:-10px;right:-10px;z-index:1;}
 #lightbox .close:before
 {cursor:pointer;
 display:block;
 padding:2px;
 font-size:150%;
 line-height:20px;
 background:#333;
 color:#666;
 -webkit-border-radius:25px;
 border-radius:25px;
 -webkit-transition:.5s ease-out;
 -moz-transition:.5s ease-out;
 -o-transition:.5s ease-out;
 transition:.5s ease-out;}
 #lightbox .close:hover:before
 {background:#F00;
 color:#fff;
 -webkit-transform:rotate(360deg);
 -moz-transform:rotate(360deg);
 -ms-transform:rotate(360deg);
 -o-transform:rotate(360deg);
 transform:rotate(360deg);}
/*============================== end of LIGHTBOX ===========================*/

/*=================================== PANES ================================*/
 .pane {border:1px solid rgba(50,50,50,.2);border-radius:4px;margin-top:5px;}
 .pane .title {padding:10px 15px;margin:0;font-size:1.4em;cursor:pointer;background:rgba(100,100,100,.1);}
 .pane .inner {padding:10px 15px;background:rgba(200,200,200,.1);}
 .pane .nopadding {padding:0;}
/*================================ end of PANES ============================*/

/*============================== CAPTCHA & SWITCH ==========================*/
 #captcha-switch {position:relative;}
 #switch {margin-left:-5000em;display:block;position:absolute;}
 #switch + label
 {cursor:pointer;
 position:relative;
 top:2px;
 background-color:#999;
 padding:5px;
 -webkit-border-radius:25px;
 border-radius:25px;
 display:inline-block;
 -webkit-transition:all 0.1s ease-in;
 -moz-transition:all 0.1s ease-in;
 -o-transition:all 0.1s ease-in;
 transition:all 0.1s ease-in;
 width:20px;
 height:8px;
 -webkit-box-shadow:inset 0 0 3px #666;
 box-shadow:inset 0 0 3px #666;}
 #switch + label:after
 {content:' ';
 position:absolute;
 top:0;
 -webkit-transition:-webkit-box-shadow 0.1s ease-in;
 -moz-transition:box-shadow 0.1s ease-in;
 -o-transition:box-shadow 0.1s ease-in;
 transition:box-shadow 0.1s ease-in;
 left:0;
 width:100%;
 height:100%;
 -webkit-border-radius:25px;
 border-radius:25px;
 -webkit-box-shadow:inset 0 0 0 0 #666;
 box-shadow:inset 0 0 0 0 #666;}
 #switch + label:before
 {content:' ';
 position:absolute;
 background:#ddd;
 top:1px;
 left:1px;
 z-index:9;
 width:16px;
 -webkit-transition:.1s ease-in;
 -moz-transition:.1s ease-in;
 -o-transition:.1s ease-in;
 transition:.1s ease-in;
 height:16px;
 -webkit-border-radius:25px;
 border-radius:25px;
 -webkit-box-shadow:0 0 3px rgba(0,0,0,.3),0 0 3px rgba(0,0,0,.3) inset;
 box-shadow:0 0 3px rgba(0,0,0,.3),0 0 3px rgba(0,0,0,.3) inset;}
 #switch:active + label:after {-webkit-box-shadow:inset 0 0 0 20px #666;box-shadow:inset 0 0 0 20px #666;}
 #switch:active + label:before {width:17px;}
 /*.checked class for css3 not capable browsers... */
 #switch:checked:active + label:before,
 #switch.checked:active + label:before {width:17px;left:10px;}
 #switch + label:active {-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);}
 #switch:checked + label:before,
 #switch.checked + label:before {content:' ';position:absolute;left:13px;-webkit-border-radius:25px;border-radius:25px;background:#ddd;}
 #switch:checked + label:after,
 #switch.checked + label:after {content:' ';position:absolute;background:#AE3;-webkit-box-shadow:0 0 4px #666 inset;box-shadow:0 0 4px #666 inset;}

 #captcha-switch .flat-tooltip {display:block;z-index:-1;opacity:0;filter:alpha(opacity=0);margin-top:0;width:130px;margin-left:-81px;}
 .fr #captcha-switch .flat-tooltip {width:140px;margin-left:-86px;}
 #captcha-switch .flat-tooltip.show {z-index:1;opacity:1;filter:alpha(opacity=100);margin-top:20px;}
/*=========================== end of CAPTCHA & SWITCH ======================*/

/*=============================== DEBUG & ERROR ============================*/
 #debug
 {background:rgba(255,255,0,.1);
 border:1px dashed #ff6;
 margin-bottom:10px;}
 #error
 {background:rgba(255,0,0,.1);
 border:1px dashed #f66;
 margin-bottom:10px;
 word-wrap: break-word;}
 #debug > div, #error > div
 {margin:5px;
 border:1px solid rgba(0,0,0,.1);}
 #debug > p, #error > p
 {padding:5px;
 font:bold 1.5em dinnext, Arial, Helvetica, sans-serif;
 text-align:center;
 color:#800;}
 #debug > p {background:rgba(255,255,0,.1);color:#880;}
 #error > p {background:rgba(255,0,0,.1);color:#800;}
 #debug div p, #error div p
 {padding:5px;
 background:rgba(0,0,0,.05);
 border-bottom:1px solid rgba(0,0,0,.05);
 font-size: 120%;
 font-family: dinnext, Arial, Helvetica, sans-serif;
 word-break: break-word;
 hyphens: auto;}
 #debug div code, #error div code
 {margin:5px;
 display:block;
 overflow: auto;}
 #debug div code hr, #error div code hr
 {border:dashed rgba(0,0,0,.1);border-width:1px 0 0;
 margin:5px -5px;}
 .backtrace {font-size:.9em;margin-top:7px;}
 .backtrace > strong {font-size:1.1em;cursor:pointer;}
 .backtrace > strong:before
 {-webkit-transition: .3s ease-in-out;
 -o-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
 -webkit-transform:rotate(0deg);
 -ms-transform:rotate(0deg);
 -o-transform:rotate(0deg);
 transform:rotate(0deg);
 display: inline-block;}
 .backtrace.show > strong:before
 {-webkit-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
 -o-transform:rotate(90deg);
 transform:rotate(90deg);}
 .backtrace ol {margin:3px 0 10px 23px;display: none;}
/*=========================== end of DEBUG & ERROR =========================*/

/*================================= MESSAGES ===============================*/
 #header-message
 {position:fixed;
 top:0;
 left:0;
 right:0;
 z-index:40;
 background:rgba(225,225,225,.8);}

 #header-message .message,
 #content-message .message {position:relative;padding:15px 15px 15px 45px;color:#ddd;}
 #header-message .message
 {background:rgba(50,50,50,.8);
 -webkit-box-shadow:0 0 10px rgba(0,0,0,.5);
 box-shadow:0 0 10px rgba(0,0,0,.5);}
 #content-message .message
 {margin-top:5px;
 border:1px solid;
 border-color:rgba(0,0,0,.2);
 background-color:rgba(0,0,0,.1);}
 #content-message .message:first-child {margin-top:0;}

 #header-message .green, #content-message .green {color:#080;border-color:rgba(0,200,0,.5);background-color:rgba(170,255,170,.8);}
 #header-message .yellow, #content-message .yellow {color:#880;border-color:rgba(255,255,0,.4);background-color:rgba(255,255,170,.8);}
 #header-message .orange, #content-message .orange {color:#840;border-color:rgba(255,127,0,.5);background-color:rgba(255,200,130,.8);}
 #header-message .red, #content-message .red {color:#800;border-color:rgba(255,0,0,.4);background-color:rgba(255,170,170,.8);}

 #header-message .ico, #content-message .ico {position:absolute;top:15px;left:15px;}
 #header-message .close, #content-message .close {left: auto;right: 3px;top: 3px;cursor: pointer;}
 #header-message .i-info:before, #content-message .i-info:before,
 #header-message .i-warning:before, #content-message .i-warning:before,
 #header-message .i-valid:before, #content-message .i-valid:before {font-size:1.5em;font-size:1.7em;line-height:0.9em;}
 #header-message .i-error:before, #content-message .i-error:before
 {background:red;
 text-align:center;
 color:#fff;
 border-radius:1em;
 display:inline-block;}

 #tooltip
 {position:absolute;
 border:1px solid #333;
 margin-top:10px;
 background:transparent;/* Fallback useful for Microsoft.gradient */
 background:rgba(0,0,0,.9);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000)";/* IE8 */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);/* IE6 & 7 */
 -webkit-box-shadow:0 0 5px #000;
 box-shadow:0 0 5px #000;
 padding:3px 8px;
 color:#ddd;
 z-index:10;
 font-size:12px;
 -webkit-border-radius:3px;
 border-radius:3px;}

 .flat-tooltip
 {background:transparent;/* Fallback useful for Microsoft.gradient */
 background:rgba(0,0,0,.7);
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)";/* IE8 */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);/* IE6 & 7 */
 border:1px solid rgba(70,70,70,.8);
 -webkit-border-radius:5px;
 border-radius:5px;
 color:#ccc;
 padding:10px;
 position:absolute;
 display:none;
 z-index:10;}
 *:hover .flat-tooltip {display:block;}
 .transition .flat-tooltip
 {-webkit-box-shadow:0 0 40px #000;
 box-shadow:0 0 40px #000;
 -webkit-transition:opacity .5s ease-out;
 -moz-transition:opacity .5s ease-out;
 -o-transition:opacity .5s ease-out;
 transition:opacity .5s ease-out;}
 .flat-tooltip:before {content:'';border:11px solid transparent;position:absolute;z-index:0;}
 .flat-tooltip:after {content:'';border:10px solid transparent;position:absolute;width:0;z-index:1;}
 .flat-tooltip.top-left {bottom:100%;right:100%;margin:20px -45px;}
 .flat-tooltip.top-left:before {border-top-color:rgba(90,90,90,.8);top:100%;right:14px;}
 .flat-tooltip.top-left:after {border-top-color:rgba(0,0,0,.85);top:100%;right:15px;}
 .flat-tooltip.top-right {bottom:100%;left:100%;margin:20px -35px;}
 .flat-tooltip.top-right:before {border-top-color:rgba(90,90,90,.8);top:100%;left:14px;}
 .flat-tooltip.top-right:after {border-top-color:rgba(0,0,0,.85);top:100%;left:15px;}
 .flat-tooltip.bottom {top:100%;left:50%;margin:20px -50px;/*must adjust the margin depending on tooltip width*/}
 .flat-tooltip.bottom:before {border-bottom-color:rgba(90,90,90,.8);bottom:100%;left:50%;margin-left:-11px;}
 .flat-tooltip.bottom:after {border-bottom-color:rgba(0,0,0,.85);bottom:100%;left:50%;margin-left:-10px;}
 .flat-tooltip.bottom-left {top:100%;right:100%;margin:20px -45px;}
 .flat-tooltip.bottom-left:before {border-bottom-color:rgba(90,90,90,.8);bottom:100%;right:14px;}
 .flat-tooltip.bottom-left:after {border-bottom-color:rgba(0,0,0,.85);bottom:100%;right:15px;}
 .flat-tooltip.bottom-right {top:100%;left:100%;margin:20px -35px;}
 .flat-tooltip.bottom-right:before {border-bottom-color:rgba(90,90,90,.8);bottom:100%;left:14px;}
 .flat-tooltip.bottom-right:after {border-bottom-color:rgba(0,0,0,.85);bottom:100%;left:15px;}

 #cookie-notice
 {position:fixed;
 bottom:-32px;
 left:0;
 width:100%;
 height:32px;
 /* border-top: 1px solid #ccc; */
 color:#fff;
 box-shadow:0 0 5px #666;
 z-index:30;
 background:#ccc;
 background: rgba(190,190,190,.8);
  box-shadow: 0 0 3px rgba(0,0,0,.2),0 0 1px rgba(0,0,0,.3);
 -moz-box-shadow: 0 0 3px rgba(0,0,0,.2),0 0 1px rgba(0,0,0,.3);
 -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2),0 0 1px rgba(0,0,0,.3);}
 .nojs #cookie-notice {bottom:0;}
 #cookie-notice div {margin:1px 50px 0 0;}
 #cookie-notice div.floatLeft {margin-left:90px;font-size:85%;text-shadow: 0px 0px 2px #999;position:relative;}
 #cookie-notice div.floatLeft:before {position:absolute;left:-35px;font-size:270%;top:1px;}
 #cookie-notice div.floatLeft strong {font-size:150%;line-height:17px;}
 #cookie-notice div a
 {display:block;
 float:left;
 margin:2px 0 0 10px;
 padding:0 .6em;
 color:#fff;
 text-indent:0;
 line-height:2.1em;
 cursor: pointer;
 color: #fff;
 display: inline;
 border-radius: 3px;}
 #cookie-notice a, #cookie-notice a:hover {text-decoration:none;}
 a.ok, a.ok:hover, a.ok:active
 {border:1px solid;
 border-color:#4e931e #4e931e #039019;
 background:#a6d332; /* Old browsers */
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTkzMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 background: -moz-linear-gradient(top,  #a6d332 0%, #6a9310 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6d332), color-stop(100%,#6a9310)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #a6d332 0%,#6a9310 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #a6d332 0%,#6a9310 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #a6d332 0%,#6a9310 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #a6d332 0%,#6a9310 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d332', endColorstr='#6a9310',GradientType=0 ); /* IE6-8 */}
 a.ok:hover, a.ok:active
 {box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4),0 0 3px #6a9310 inset;
 -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4),0 0 3px #6a9310 inset;}
 a.no, a.no:hover, a.no:active
 {border: 1px solid;
 border-color: #4e7ea3 #4e7ea3 #0379a0;
 background: #3bb4de;
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 background: -moz-linear-gradient(top,#3bb4de 0%,#138bb6 100%);
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3bb4de),color-stop(100%,#138bb6));
 background: -webkit-linear-gradient(top,#3bb4de 0%,#138bb6 100%);
 background: -o-linear-gradient(top,#3bb4de 0%,#138bb6 100%);
 background: -ms-linear-gradient(top,#3bb4de 0%,#138bb6 100%);
 background: linear-gradient(top,#3bb4de 0%,#138bb6 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb4de',endColorstr='#138bb6',GradientType=0 );
 -webkit-box-shadow: inset 0 0 1px 0 #3bb4de;
 box-shadow: inset 0 0 1px #3bb4de;}
 a.no:hover, a.no:active
 {box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4),0 0 3px #138bb6 inset;
 -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4),0 0 3px #138bb6 inset;}
 #cookie-notice div a:before
 {font-size:140%;
 margin-right:.4em;
 vertical-align:bottom;
 background:none;
 line-height:1.5em;}

 .quote
 {border: 2px solid #F6E955;
 background: rgba(255,255,230,.6);
 margin-bottom: 30px;
 min-height: 70px;
 border-radius: 5px;
 font-size: 120%;
 position: relative;
 padding: 20px 45px;
 border-radius: 4px;
 margin-top: 25px;}
 .quote .i-quote-l:before, .quote .i-quote-r:before {display: block;position: absolute;color: #F6E955;}
 .quote .i-quote-l:before {top: 10px;left: 10px;}
 .quote .i-quote-r:before {bottom: 40px;right: 10px;}
 .quote .author {bottom: 10px;right: 10px;position: absolute;font-style: italic;}
/*============================ end of MESSAGES =============================*/

/*================================ COMMENTS ================================*/
 .comment
 {position:relative;
 padding: 10px;
 background: rgba(0,0,0,.03);
 border: 2px solid rgba(0,0,0,.08);
 border-radius: 3px;
 margin: 5px 0 0 50px;}
 .comment:before
 {font-size: 230%;
 position: absolute;
 top: 14px;
 right: 100%;
 margin-right: 25px;}
 .unknown:before
 {color: #ddd;
 font-size: 300%;
 content: '?';
 top: 0;
 font-family: 'Arial Black', 'Arial-BoldMT', Gadget, sans-serif;}
 .i-female:before {color:#FFC0F0;}
 .i-male:before {color: #C2E1FF;}

 .comment:after
 {content: "";
 position: absolute;
 top: 10px;
 right: 100%;
 display: block;
 margin-right: 2px;
 border: 15px solid transparent;
 border-right-color: rgba(0,0,0,.08);}
 .comment .details {font-size: 90%;color: #999;font-style: italic;margin-bottom: 10px;display: block;}
 .leave-comment-wrapper .intro {margin-right: 15px;}
 .leave-comment-wrapper .textarea > span {width: 100%;}
 .leave-comment-wrapper .textarea textarea {width: 100%;box-sizing:border-box;}
 .leave-comment-wrapper .buttons {clear:none;}
/*============================ end of COMMENTS =============================*/

/*================================= FOOTER =================================*/
 #page-bottom {position: absolute;bottom: 0;}

 #footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20em;
    color: #fff;
    background: #eee url(../images/texture-bg.png) center center fixed;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: hidden;
 }
 #footer.stop {z-index: 9;}
 #footer > .bg {
    background: no-repeat bottom fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
 }

 #footer a, #footer a:hover {color: inherit;}
 #go-top
 {top:30px;
 left:50%;
 margin-left:-1em;
 width:2em;
 position:absolute;
 text-align:center;
 display:block;
 text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
 #go-top:hover {color: #fff;}

 #go-top span {display:none;}
 #go-top:before
 {content:'^ ^';
 line-height:.3em;
 font-size:250%;
 text-align: center;
 display:block;
 -webkit-transition:.3s ease-out;
 -moz-transition:.3s ease-out;
 -o-transition:.3s ease-out;
 transition:.3s ease-out;}
 #go-top:hover:before {line-height:.4em;}
 #go-top:hover {top: 25px;}
 .animation #go-top:hover
 {-webkit-animation:bounceFromBottom .6s alternate infinite;
 -moz-animation:bounceFromBottom .6s alternate infinite;
 -o-animation:bounceFromBottom .6s alternate infinite;
 animation:bounceFromBottom .6s alternate infinite;}
 @-moz-keyframes bounceFromBottom {from {-moz-transform: translateY(0);opacity: 0;} to {-moz-transform: translateY(5px);opacity: .7;}}
 @-webkit-keyframes bounceFromBottom {from {-webkit-transform: translateY(0);opacity: 0;} to {-webkit-transform: translateY(5px);opacity: .7;}}
 @-o-keyframes bounceFromBottom {from {-o-transform: translateY(0);opacity: 0;} to {-o-transform: translateY(5px);opacity: .7;}}
 @keyframes bounceFromBottom {from {transform: translateY(0);opacity: 0;} to {transform: translateY(5px);opacity: .7;}}

 #footer #copyright
 {position: absolute;
 bottom: 25px;
 left: 20px;
 text-transform: uppercase;
 font: 1.3em dinnext, Arial, Helvetica, sans-serif;
 opacity: .6;}
 #footer .menu
 {position: absolute;
 bottom:19px;
 right: 20px;}


 #footer .menu li {display:inline-block;list-style-type:none;}
 #footer .menu li:before {content: '•';display: inline-block;margin-right: 5px;}
 #footer .menu li:first-child:before {display: none;}
 #footer .menu a
 {margin:0 5px;
 display:inline-block;
 font: 1.3em/2em dinnext, Arial, Helvetica, sans-serif;
 text-transform: uppercase;}
 #footer .menu a.active {color:#be4646;}
 #footer .menu a:hover, #footer .menu a:active {color: inherit;text-decoration: underline;}

 @media screen and (max-width: 550px) {
     #footer .menu
     {top: 6em;
     bottom: auto;
     left: 50%;
     right: auto;
     transform: translate3d(-50%, 0, 0px) !important;     }
     #footer #copyright
     {left: 5%;
     right: 5%;
     text-align: center;}
 }
/*============================= end of FOOTER ==============================*/

/*=============================== NEWSLETTER ===============================*/
 .newsletter-wrapper
 {float: right;
 margin-right: 5%;
 padding: 5px 10px;
 color: #999;
 background-color: #f8f8f8;
 border: 1px solid #ddd;
 border-top: none;
 border-radius: 0 0 5px 5px;
 position: relative;
 z-index: 1;
 display: none;}
 .newsletter .row {float: left;}
 .newsletter input {width: 150px;padding-right: 3.2em;}
 .newsletter input, .newsletter button {line-height: 2em;}
 .newsletter .clear {display: none;}
 .newsletter .buttons {position: absolute;top:5px;right: 10px;}
 .newsletter .error {top:100%;left:0;color:#c00;background: none;border:none;}
 .newsletter .error:before {content: "x ";font-size: 120%;vertical-align: sub;}
/*============================ end of NEWSLETTER ===========================*/

/*================================= SOCIAL =================================*/
 .social {text-align: center;margin: 20px auto 0;}
 .social .wrapper
 {display: inline-block;
 text-align: left;
 line-height: 8px;/*fix alignment.*/
 background: url(../images/spinner-small.gif) no-repeat 30% center;
 min-height: 20px;}
 #___plusone_0 {width:35px !important;}
 #___plusone_0 iframe {width:100% !important;}
/*============================== end of SOCIAL =============================*/