.contact-form-wrapper {
    max-width: 30em;
    margin: auto;
}

.contact-form-wrapper .row label {
    width: 10em;
    padding-right: 1em;
    display: inline-block;
    text-align:right;
    box-sizing: border-box;
}

.contact-form-wrapper .row.textarea,
.contact-form-wrapper .buttons {margin-top: 2em;}