/*=================================== FONTS ================================*/
 @font-face
 {font-family:"template-site";
 src:url("fonts/template-site.eot?1.31");
 src:url("fonts/template-site.eot?1.31#iefix") format("embedded-opentype"),
     url("fonts/template-site.woff?1.31") format("woff"),
     url("fonts/template-site.ttf?1.31") format("truetype"),
     url("fonts/template-site.svg1.31#template-site") format("svg");
 font-weight: normal;
 font-style: normal;}

 @font-face
 {font-family: "dinnext";
 src: url("fonts/dinnext.eot"); /* IE9*/
 src: url("fonts/dinnext.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("fonts/dinnext.woff2") format("woff2"), /* chrome, firefox */
      url("fonts/dinnext.woff") format("woff"), /* chrome, firefox */
      url("fonts/dinnext.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("fonts/dinnext.svg#dinnext") format("svg"); /* iOS 4.1- */
 font-weight: normal;
 font-style: normal;}


body {font: 12px Verdana, Arial, Helvetica, sans-serif;}
h1, h2, h3 {font-family: dinnext, Arial, Helvetica, sans-serif;}
h1 {text-transform: uppercase;}
h2 {font-size:160%;margin:25px 0 10px;font-weight:normal;}
h3 {font-size:130%;margin:15px 0 7px;font-weight:normal;}


 [class^="i-"]:before, [class*=" i-"]:before, [data-icon]:before,
 #breadcrumbs .home:before, #breadcrumbs .sitemap:before, #sitemap-page .home a:before, #sitemap-page .page-title:before,
 #sitemap-page #page li:before, ul.glyph li:before, ul.checklist li:before, .required:after, .valid:after, .invalid:after, .newsletter .error:before,
 article h2:before, article h3:before, #sticky-bar:after, .dz-remove:before, figure.postcard:before, #mobile-menu li a:before,
 #mobile-menu li h4:before, #a28fig16.play:before
 {font-family: "template-site", "arial black", arial, sans-serif !important;
 font-style: normal !important;
 font-weight: normal !important;
 font-variant: normal !important;
 text-transform: none !important;
 speak: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 vertical-align:middle;}
 [data-icon]:before {content: attr(data-icon);}

.i-alert:before,.i-warning:before {content: "\21";}
.i-eye:before {content: "\62";}
.i-gear:before {content: "\63";}
.i-database:before {content: "\65";}
.i-file-code:before {content: "\41";}
.i-x:before,.i-error:before,.i-cross:before {content: "\78";font-size:1.5em;}
.i-check:before, .i-valid:before, .i-success:before {content: "y";font-size:1.5em;}
.i-dash:before {content: "\2d";}
.i-plus:before {content: "\2b";}
.i-mail:before {content: "\6d";}
.i-googleplus:before {content: "\67";}
.i-heart:before {content: "\72";}
.i-info:before {content: "\69";}
.i-mail-letter-2:before {content: "\71";}
.i-mail-letter-outline:before {content: "\74";}
.i-power:before {content: "\6b";}
.i-star-2:before {content: "\77";}
.i-user:before {content: "\6c";}
.i-key:before {content: "\79";}
.i-user-2:before {content: "\7a";}
.i-facebook:before {content: "\66";}
.i-twitter:before {content: "\42";}
.i-thumbup:before {content: "\43";}
.i-play:before {content: "~";}
.i-triangle-l:before {content: "\46";}
.i-triangle-r:before {content: "~";}
.i-triangle-u:before {content: "\48";}
.i-triangle-d:before {content: "\49";}
.i-trash:before {content: "\4a";}
.i-chevron-d:before {content: "\76";}
.i-chevron-r:before {content: "\3e";}
.i-chevron-u:before {content: "\5e";}
.i-chevron-l:before {content: "\3c";}
.i-globe:before {content: "\4d";}
.i-todo-2:before {content: "\50";}
.i-todo:before {content: "\53";}
.i-sitemap:before {content: "|";}
.i-chart:before {content: "\34";}
.i-mail-read:before {content: "\4f";}
.i-imprint:before {content: "\54";}
.i-pencil:before {content: "\5a";}
.i-bug:before {content: "\31";font-size:1.1em;}
.i-home:before {content: "\64";}
.i-cookie:before {content: "\6e";}
.i-asterisk:before {content: "\2a";}
.i-quote-l:before {content: "\44";}
.i-quote-r:before {content: "\51";}
.i-plane:before {content: "\52";}
.i-female:before {content: "\61";}
.i-male:before {content: "\55";}
.i-help:before {content: "\3f";}
.i-comment:before {content: "\59";}
.i-rot-l:before {content: "\30";}
.i-rot-r:before {content: "\32";}
.i-resize:before {content: "\35";}
.i-scissors:before {content: "\33";}
.i-photo:before {content: "\36";}
.i-cloud-download:before {content: "\3a";}
.i-cloud-upload:before {content: "\3b";}
.i-zoom:before {content: "\6f";}
.i-calendar:before {content: "B";}
.i-thinking:before {content: "E";}
.i-zip:before {content: "L";}
.i-dir:before {content: "V";}
.i-dir-open:before {content: "W";}
.i-file:before {content: "N";}
.i-file-code:before {content: "X";}
.i-file-image:before {content: "=";}
.i-file-text:before {content: "@";}
.i-file-archive:before {content: "[";}

 /* Smilies. */
 .smiley:before {text-shadow: 0 1px 1px rgba(255,255,255,0.5);color: #ccc;font-size: 140%;}
 .i-comment .smiley:before {text-shadow: none;color: inherit;font-size: 125%;}
 .i-angel {position: relative;color: #ccc;padding-top: .4em;display: inline-block;}
 .i-angel:before {content: "\73";}
 .i-angel:after
 {content: "";
 border-radius: 1em;
 height: .05em;
 display: inline-block;
 border: 2px solid;
 position: absolute;
 top: -.1em;
 left: 1px;
 right: 0px;}
.i-angry:before {content: "\37";}
.i-baffled:before {content: "\38";}
.i-confused:before {content: "\39";}
.i-cool:before {content: "\68";}
.i-crying:before {content: "\22";}
.i-evil:before {content: "\23";}
.i-frustrated:before {content: "\24";}
.i-grin:before {content: "\25";}
.i-happy:before {content: "\26";}
.i-hipster:before {content: "\27";}
.i-neutral:before {content: "\28";}
.i-sad:before {content: "\29";}
.i-shocked:before {content: "\70";}
.i-smile:before {content: "\73";}
.i-sleepy:before {content: "\2c";}
.i-tongue:before {content: "\6a";}
.i-wink:before {content: "\2e";}
.i-wondering:before {content: "\2f";}
.i-android:before {content: "\4b";}
/*================================ end of FONTS ============================*/