h2 {margin-top:0;}

.quote
{position: fixed;
bottom: 20%;
right: 0;
width: 31%;
font-size: 100%;
border: none;
padding: 20px 5px 20px 45px;
min-height: 0;
font-family: 'dinnext', Arial, Helvetica, sans-serif;
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 );
color: rgba(255,255,255,.7);
-webkit-transform: translateX(40px);
-moz-transform: translateX(40px);
-ms-transform: translateX(40px);
-o-transform: translateX(40px);
transform: translateX(40px);
opacity: 0;
-webkit-transition: .8s ease-out;
-moz-transition: .8s ease-out;
-ms-transition: .8s ease-out;
-o-transition: .8s ease-out;
transition: .8s ease-out;
text-shadow: 0 0 8px rgba(0,0,0,.5);}
.show .quote {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.quote .i-quote-l:before, .quote .i-quote-r:before {display: none;}


/*========================================= ARTICLES LIST ========================================*/
.block {margin-top: 25px;}
.list-view .title
{padding: 10px 15px;
margin: 0;
font-size: 1.4em;
cursor: pointer;
background: rgba(100,100,100,.1);}

.list-view ul li {margin-top: 1.8em;}
.list-view ul li:before {left: -20px;line-height: 1.8em;}
.list-view ul li a {font-size: 110%;display: inline-block;}
.list-view ul li .details {font: dinnext, Arial, Helvetica, sans-serif;color: #999;}
.list-view ul li .details :before {color: #bbb;}


.list-view .article-tags {display: inline-block;margin-left: 20px;}
.images-view .article-tags {z-index: 2;position: absolute;top: 0px;left: 100%;}
.article-tag
{display: inline-block;
position: relative;
padding: 0 .7em 0 .4em;
height: 18px;
line-height: 18px;
font-size: 9px;
text-align: right;
white-space: nowrap;
color: #963;
text-shadow: 1px 1px 0 rgba(256,256,256,0.4);
/*border: 1px solid #efb652;*/
background: #fcdc89;
background: -moz-linear-gradient(top, #fcdc89 0%, #fab847 100%);
background: -webkit-linear-gradient(top, #fcdc89 0%,#fab847 100%);
background: linear-gradient(to bottom, #fcdc89 0%,#fab847 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdc89', endColorstr='#fab847',GradientType=0 );
/*box-shadow: 1px 1px 2px rgba(0,0,0,.2);*/
border-left: none;
border-radius: 0 2px 2px 0;}
.images-view .article-tag {transform: rotate(60deg);transform-origin: left;margin: 6px -17px;}
.article-tag:after
{content: "";
display: inline-block;
position: absolute;
width: 2em;
top: 0px;
bottom: 0px;
right: 100%;
margin-right: -.5em;
z-index: -1;
background: url(../images/tag.svg) no-repeat left;}
/*.article-tag:hover
{background: #fded80;
background: -moz-linear-gradient(top, #fded80 0%, #facb54 100%);
background: -webkit-linear-gradient(top, #fded80 0%,#facb54 100%);
background: linear-gradient(to bottom, #fded80 0%,#facb54 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fded80', endColorstr='#facb54',GradientType=0 );}*/
/*.article-tag:after
{content: "";
display: inline-block;
position: absolute;
width: .7em;
height: .7em;
top: .4em;
left: .4em;
box-shadow: 0 0 0 #efb652, 1px 1px 2px rgba(0,0,0,.2) inset;
border: 1px solid #efb652;
border-radius: 1em;
background: #fff;}*/

.images-view .image
{margin: 10px auto 0;
border: 1px solid #ddd;
position: relative;
opacity: 1;
overflow: visible;
-webkit-transition: all .4s .4s ease-out, z-index 0s 1.6s, opacity .5s 1s;
-moz-transition: all .4s .4s ease-out, z-index 0s 1.6s, opacity .5s 1s;
-ms-transition: all .4s .4s ease-out, z-index 0s 1.6s, opacity .5s 1s;
-o-transition: all .4s .4s ease-out, z-index 0s 1.6s, opacity .5s 1s;
transition: all .4s .4s ease-out, z-index 0s 1.6s, opacity .5s 1s;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
max-height: 22em;
z-index: 1;}
.images-view .image.load-hidden,
.images-view .hidden
{display: none;
margin-top: 0;
margin-bottom: 0;
border-top-width: 0;
border-bottom-width: 0;
max-height: 0em;
opacity: 0;
z-index: -1;
overflow: hidden;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);}
.images-view .image.load-hidden {display: block;}

/* .images-view .image :before {display: none;} */
.transition .images-view .image a:before
{display: block;
position: absolute;
top: 45%;
left: 0;
right: 0;
text-align: center;
font-size: 400%;
color: #fff;
z-index: 3;
text-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transition: all .6s cubic-bezier(.175, .885, .32, 1); /* older webkit */
-webkit-transition: all .6s cubic-bezier(.175, .885, .32, 1.275);
-moz-transition: all .6s cubic-bezier(.175, .885, .32, 1.275);
-o-transition: all .6s cubic-bezier(.175, .885, .32, 1.275);
transition: all .6s cubic-bezier(.175, .885, .32, 1.275); /* easeOutBack */
-webkit-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);}
.images-view .image a[data-comingsoon]:before {display: none;}
.transition .images-view .image:hover a:before
{-webkit-transition: all .6s .8s cubic-bezier(.175, .885, .32, 1); /* older webkit */
-webkit-transition: all .6s .8s cubic-bezier(.175, .885, .32, 1.275);
-moz-transition: all .6s .8s cubic-bezier(.175, .885, .32, 1.275);
-o-transition: all .6s .8s cubic-bezier(.175, .885, .32, 1.275);
transition: all .6s .8s cubic-bezier(.175, .885, .32, 1.275); /* easeOutBack */
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);}

.images-view .image a {display: block;overflow: hidden;}
.images-view .image a[data-comingsoon] {cursor: default;}
.images-view .image a[data-comingsoon]:after
{content: attr(data-comingsoon);
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font: 50px dinnext, Arial, Helvetica, sans-serif;
text-transform: uppercase;
color: #fff;
text-shadow: 0 0 5px rgba(0,0,0,.2);
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1;}
.images-view .image .title
{display: block;
position: absolute;
max-width: 100%;
top: 20%;
left: 0;
right: 0;
text-align: center;
font: 35px/30px dinnext, Arial, Helvetica, sans-serif;
/*font:30px/30px dinnext, Arial, Helvetica, sans-serif;*/
/*text-transform: uppercase;*/
color: #fff;
text-shadow: 0 0 5px rgba(0,0,0,.2);
background: rgba(0,0,0,.2);
/*border: 1px solid rgba(0,0,0,.08);*/
border-width: 1px 0;
padding: .4em 1em;
z-index: 1;
box-sizing: border-box;}
.images-view .image .details
{display: block;
position: absolute;
bottom: 0;
right: 0;
left: 75%;
color:#fff;
-webkit-text-shadow: 0 0 5px rgba(0,0,0,.4);
-moz-text-shadow: 0 0 5px rgba(0,0,0,.4);
-ms-text-shadow: 0 0 5px rgba(0,0,0,.4);
-o-text-shadow: 0 0 5px rgba(0,0,0,.4);
text-shadow: 0 0 5px rgba(0,0,0,.4);
padding:2px 5px;
font: 100% dinnext, Arial, Helvetica, sans-serif;;
text-align: right;
z-index: 1;
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.4))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.4) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.4) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.4) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */}
.images-view .details:before, .images-view .details :before {opacity: .8;padding-left: .5em;}
.images-view .details:before, .images-view .details .date {font-size: .9em;}
.images-view .image .bg
{display: block;
height: 260px;
background: #eee url('../images/texture-bg.png') center;
-webkit-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
z-index: 0;}
@media screen and (max-width: 550px) {
   .images-view .image .bg {height: 200px;}
   .quote {width: auto;left: 2%;padding-bottom: 30px;text-align: right;}
}
@media screen and (max-width: 400px) {
   div.images-view .image .title {padding-left: .5em;padding-right: .6em;max-width: 100%;}
}

.images-view .image .bg.loaded {background-size: cover;}
.images-view .image .bg:before
{content:"";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/*background: inherit;*/}
.images-view .image .bg:after
{content:"";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
-webkit-transition: .6s ease-in-out;
-o-transition: .6s ease-in-out;
transition: .6s ease-in-out;
-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
-o-transform: translateY(-100%);
transform: translateY(-100%);
z-index: 2;}
.images-view .image a[data-comingsoon] .bg:after {display: none;}
.images-view .image:hover .bg:after
{-webkit-transform: translateY(0%);
-ms-transform: translateY(0%);
-o-transform: translateY(0%);
transform: translateY(0%);}
.images-view .image .bg:before
{content:"•";
display: block;
width: 100%;
font-size: 20em;
line-height: 1em;
position: absolute;
left: 0;
top: 0;
color: #fff;
text-align: center;
-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
animation: sk-scaleout 1.0s infinite ease-in-out;}
.images-view .image .bg.loaded:before {display: none;}

.images-view .image:hover .bg
{-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);}

/*------------------------- Title on left. Background from left to right. --------------------------*/
.title-on-left .title
{left: 0%;
text-align: left;
right: auto;
padding-right: 6em;
background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */}
/*--------------------------------------------------------------------------------------------------*/

/*------------------------- Title on right. Background from right to left. -------------------------*/
.title-on-right .title
{right: 0%;
text-align: right;
left: auto;
width: 8em;
padding-left: 6em;
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */}
/*--------------------------------------------------------------------------------------------------*/
/*================================================================================================*/

.more-articles
{position: relative;
display: block;
margin: 40px auto 4em;
text-align: center;
text-transform: uppercase;
background: none;
border: none;
color: #999;
-webkit-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
-o-transition: .5s;
transition: .5s;}
.more-articles:hover {background: none;color: #666;}
.more-articles:before
{position: absolute;
margin: 0.3em 0 0 -.7em;
top: 100%;
left: 50%;
font-size: 2.2em;
line-height: 1.4em;
border-radius: 1.4em;
border: 1px solid #bbb;
color: #bbb;
width: 1.4em;
height: 1.4em;
-webkit-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
-o-transition: .5s;
transition: .5s;}
.more-articles:hover:before {color: #666;border-color: #666;}