/* If class glyph, disable all icons. */
#page .glyph li h4:before, #page .glyph li a:before, #page .glyph li li a:before {display: none;}

#page .lvl0 {margin-left:40px;line-height: 1.6em;}
#page .lvl0 > li > a,
#page .lvl0 > li > span
{font-family: dinnext, Arial, Helvetica, sans-serif;
font-size: 130%;
color: #000;}
#page .lvl1 {margin-left:18px;}
#page .articles .lvl2 {margin-left: 18px;}
#page .lvl3 {margin-left:90px;}
#page .home {margin: 0 0 10px -42px;}
#page .home > a:before {content:'H ';font-size:3em;}
#page .home > a > span,
#page .home:before {display:none;}
#page ul.glyph li:before {top: .4em;}