<!-- BEGIN labelBlock -->
<label for="{formId}{id}">{label}</label>
<!-- END labelBlock -->

<!-- BEGIN uploadBlock -->
<div id="{formId}{id}" class="Dropzone" data-name="{formId}{name}">
	<div id="{formId}{id}" class="fallback">
		<input name="{formId}{name}" type="file" multiple />
	</div>
	<!-- BEGIN uploadItemBlock -->
	<div class="dz-preview dz-image-preview">
	    <div class="dz-image"><div style="background-image:url({filePath});background-size: cover;height: 100%;"></div></div>
	    <div class="dz-details">
	        <div class="dz-size"><span>{fileSize}</span></div>
	        <div class="dz-filename"><span>{fileName}</span></div>
	    </div>
	    <a class="dz-remove" href="javascript:;" data-dz-remove="" title="{removeFile}"></a>
	</div>
	<!-- END uploadItemBlock -->
	{errorMessage}
	<div class="buttons">
	    <div class="discard-all i-x">{discardAll}</div>
	    <div class="add-images-to-article i-check">{addImagesToArticle}</div>
	</div>
</div>
<!-- END uploadBlock -->

<!-- BEGIN textBlock -->
<div class="{validation}{state}">
    <input type="text" name="{formId}{name}" id="{formId}{id}" class="text{class}" value="{value}"{attr} />{errorMessage}
</div>
<!-- END textBlock -->

<!-- BEGIN numberBlock -->
<div class="{validation}{state}">
	<input type="number" name="{formId}{name}" id="{formId}{id}" class="text number{class}" value="{value}"{attr} />{errorMessage}
</div>
<!-- END numberBlock -->

<!-- BEGIN sliderBlock -->
<div class="range-slider-wrapper {class}-wrapper {validation}{state}">
    <div class="range-slider {class}"></div>
</div>
<script>
    new slider('.range-slider.{class}', {value: {value}, graduation: {graduation}, input: "{formId}{name}", onInit: {onInit}, onDrag: {onDrag}, afterDrag: {afterDrag}});
</script>
<!-- END sliderBlock -->

<!-- BEGIN emailBlock -->
<div class="{validation}{state}">
	<input type="email" name="{formId}{name}" id="{formId}{id}" class="text email{class}" value="{value}"{attr} />{errorMessage}
</div>
<!-- END emailBlock -->

<!-- BEGIN phoneBlock -->
<div class="{validation}{state}">
	<input type="text" name="{formId}{name}" id="{formId}{id}" class="text phone{class}" value="{value}"{attr} />{errorMessage}
</div>
<!-- END phoneBlock -->

<!-- BEGIN hiddenBlock -->
<div class="{validation}{state}">
	<input type="hidden" name="{formId}{name}" id="{formId}{id}" class="{class}" value="{value}" />{errorMessage}
</div>
<!-- END hiddenBlock -->

<!-- BEGIN textareaBlock -->
<div class="{validation}{state}">
	<textarea name="{formId}{name}" id="{formId}{id}" class="text{class}"{attr}>{value}</textarea>{errorMessage}
</div>
<!-- END textareaBlock -->

<!-- BEGIN wysiwygBlock -->
<article class="{validation}{state}">
	<textarea name="{formId}{name}" id="{formId}{id}" class="text wysiwyg{class}"{attr}>{value}</textarea>{errorMessage}
</article>
<!-- END wysiwygBlock -->

<!-- BEGIN selectBlock -->
<div class="{validation}{state}">
	<select name="{formId}{name}{ifMultiple}" id="{formId}{id}opt{opt}" class="text{class}"{multiple}{attr}>
		<option value=""> - </option>
		<!-- BEGIN selectOptionBlock -->
		<option value="{value}"{selected}>{label}</option>
		<!-- END selectOptionBlock -->
	</select>{errorMessage}
</div>
<!-- END selectBlock -->

<!-- BEGIN checkboxBlock -->
<div class="{validation}{state}{inline}{class}">
    <!-- BEGIN checkboxOptionBlock -->
    <input type="checkbox" name="{formId}{name}{ifArray}" id="{formId}{id}opt{opt}" value="{value}"{checked}{attr} /> {label}{br}
    <!-- END checkboxOptionBlock -->{errorMessage}
</div>
<!-- END checkboxBlock -->

<!-- BEGIN radioBlock -->
<div class="{validation}{state}{inline}{class}">
	<!-- BEGIN radioOptionBlock -->
	<input type="radio" name="{formId}{name}" id="{formId}{id}opt{opt}" value="{value}"{checked}{attr} /> {label}{br}
    <!-- END radioOptionBlock -->{errorMessage}
</div>
<!-- END radioBlock -->

<!-- BEGIN headerBlock -->
<h{level}{attr}{class}>{text}</h{level}>
<!-- END headerBlock -->

<!-- BEGIN paragraphBlock -->
<p{attr}{class}>{text}</p>
<!-- END paragraphBlock -->