<div id="{formId}-wrapper" class=" form-wrapper {formWrapperClass}">
	<form id="{formId}" action="{action}{hash}" method="{method}" role="form" class="clearfix {formClass}"{enctype}>
		<!-- BEGIN wrapperBlock -->
		{wrapperBegin}
		<!-- BEGIN rowBlock -->
		<div class="row {elementType}{rowClass}"{toggle}>
			<!-- BEGIN elementBlock -->
			{labelBefore}{element}{labelAfter}
			<!-- END elementBlock -->
		</div>
		<!-- END rowBlock -->
		{wrapperEnd}
		<!-- END wrapperBlock -->
        <div class="buttons clearfix"{toggle}>
            <!-- BEGIN buttonBlock -->
            <button class="{btnClass}" type="{btnType}"{btnName}{btnValue}{btnTitle}>{btnText}</button>
            <!-- END buttonBlock -->
        </div>
        <!-- BEGIN robotCheck -->
        <div class="robot-check clearfix">
            <span>{robotCheckText}</span>
            <label for="robotCheck{formId}" class="i-android" data-yes="{yes}" data-no="{no}"></label>
        </div>
        <!-- END robotCheck -->
	</form>
    {thankYou}
</div>