<form id="{formId}" action="{action}" method="{method}"{class}{enctype} role="form">
	<!-- BEGIN wrapperBlock -->
	{wrapperBegin}
	<!-- BEGIN rowBlock -->
	<div class="row{rowClass}">
		<!-- BEGIN elementBlock -->
		{labelBefore}{element}{labelAfter}{errorMessage}
		<!-- END elementBlock -->
	</div>
	<!-- END rowBlock -->
	{wrapperEnd}
	<!-- END wrapperBlock -->
	<br class="clear" />
	<div class="buttons">
		<!-- BEGIN buttonBlock -->
		<button class="{btnClass}" type="{btnType}"{btnName}>{btnText}</button>
		<!-- END buttonBlock -->
	</div>
	<br class="clear" />
</form>