<form id="{formId}" action="{action}" method="{method}"{class} role="form">
	<!-- BEGIN rowBlock -->
	{wrapperBegin}<div class="row{rowClass}">
		<!-- BEGIN elementBlock -->
		{labelBefore}{element}{labelAfter}
		<!-- END elementBlock -->
	</div>{wrapperEnd}
	<!-- END rowBlock -->
	<br class="clear" />
	<div class="buttons">
		<!-- BEGIN buttonBlock -->
		<button class="{btnClass}" type="{btnType}"{btnName}>{btnText}</button>
		<!-- END buttonBlock -->
	</div>
	<br class="clear" />
</form>