<form id="{formId}" action="{action}" method="{method}"{class} role="form">
	<!-- BEGIN rowBlock -->
	{wrapperBegin}<div class="row{rowClass}">
		<!-- BEGIN elementBlock -->
		{labelBefore}{element}{labelAfter}
		<!-- END elementBlock -->
	</div>{wrapperEnd}
	<!-- END rowBlock -->
	<br class="clear" />
	<div class="buttons">
		<!-- BEGIN btnCancelBlock -->
		<button class="cancel" type="reset">{cancelText}</button>
		<!-- END btnCancelBlock -->
		<!-- BEGIN btnValidateBlock -->
		<button class="validate" type="submit" name="submit">{validateText}</button>
		<!-- END btnValidateBlock -->
	</div>
	<br class="clear" />
</form>