<!-- BEGIN labelBlock -->
<label for="{formId}{id}">{label}</label>
<!-- END labelBlock -->

<!-- BEGIN uploadBlock -->
<div id="{formId}{id}" class="Dropzone">
	<div id="{formId}{id}" class="fallback">
		<input name="{formId}{name}" type="file" multiple />
	</div>
</div>
<!-- END uploadBlock -->

<!-- BEGIN textBlock -->
<span class="{validation}{state}">
	<input type="text" name="{formId}{name}" id="{formId}{id}" class="text{class}" value="{value}"{attr} />
</span>
<!-- END textBlock -->

<!-- BEGIN emailBlock -->
<span class="{validation}{state}">
	<input type="text" name="{formId}{name}" id="{formId}{id}" class="text email{class}" value="{value}"{attr} />
</span>
<!-- END emailBlock -->

<!-- BEGIN phoneBlock -->
<span class="{validation}{state}">
	<input type="text" name="{formId}{name}" id="{formId}{id}" class="text phone{class}" value="{value}"{attr} />
</span>
<!-- END phoneBlock -->

<!-- BEGIN hiddenBlock -->
<span class="{validation}{state}">
	<input type="hidden" name="{formId}{name}" id="{formId}{id}" value="{value}" />
</span>
<!-- END hiddenBlock -->

<!-- BEGIN textareaBlock -->
<span class="{validation}{state}">
	<textarea name="{formId}{name}" id="{formId}{id}" class="text {class}"{attr}>{value}</textarea>
</span>
<!-- END textareaBlock -->

<!-- BEGIN selectBlock -->
<span class="{validation}{state}">
	<select name="{formId}{name}" id="{formId}{id}opt{opt}" class="text {class}">
		<option value=""> - </option>
		<!-- BEGIN optionBlock -->
		<option value="{value}"{selected}>{label}</option>
		<!-- END optionBlock -->	
	</select>
</span>
<!-- END selectBlock -->

<!-- BEGIN checkboxBlock -->
<span class="{validation}{state}">
	<!-- BEGIN optionBlock -->
	<input type="checkbox" name="{formId}{name}[]" id="{formId}{id}opt{opt}" class="text{class}" value="{value}"{attr} /> {label}
	<!-- END optionBlock -->	
</span>
<!-- END checkboxBlock -->

<!-- BEGIN radioBlock -->
<span class="{validation}{state}">
	<!-- BEGIN optionBlock -->
	<input type="radio" name="{formId}{name}" id="{formId}{id}opt{opt}" class="text{class}" value="{value}"{attr} /> {label}
	<!-- END optionBlock -->	
</span>
<!-- END radioBlock -->

<!-- BEGIN headerBlock -->
<h{level}{attr}{class}>{text}</h{level}>
<!-- END headerBlock -->

<!-- BEGIN paragraphBlock -->
<p{attr}{class}>{text}</p>
<!-- END paragraphBlock -->