{* This is a template override. *}
<div class="latest-articles block {view}-view">
    <!-- BEGIN latestArticlesBlock -->
    {* List style article block with no image. *}
    <h2 class="title">{latestArticlesTitle}</h2>
    <ul class="glyph">
        <!-- BEGIN articleBlock -->
        <li>
            <a href="{articleLink}">{articleTitle}</a> {articleTags}<br>
            <span class="details i-user-2">{publishedByOn}</span><br>
        </li>
        <!-- END articleBlock -->
    </ul>
    <!-- END latestArticlesBlock -->

    {* Article block with images. *}
    <!-- BEGIN latestArticlesBlockImages -->
    <h2 class="title">This is a home template override from themes/[curr_theme]/templates/home.html</h2>
    <!-- BEGIN articleBlockImages -->
    <div class="image {imgClass}{hidden}">
        <a href="{articleLink}" class="i-zoom"{comingSoon}>
            <span class="title">{articleTitle}</span>
            <span class="details i-user-2">{publishedByOn}</span>
            {articleTags}
            <span class="bg" data-original="{articleImgSrc}"></span>
        </a>
	</div>
    <!-- END articleBlockImages -->
    {loadMoreButton}
    <!-- END latestArticlesBlockImages -->
</div>
<br class="clear" />